$popup-width: 400px;
$popup-height: 500px;
$btn-size: 40px;
$btn-right: 40px;
$btn-bottom: 40px;

//font variables
$base-font-size: 62.5%;
$font-extra: 'Nunito', sans-serif;

$aqua  : #A8EFEA;
$yellow: #FFE185;
$pink  : #FFBDD2;
$green : #a8eea1;

//Task colors
$color-priority-min: $aqua;
$color-priority-mid: $yellow;
$color-priority-max: $pink;
